body {
    background: #fdf8f8;
    font-family: 'Nunito' sans-serif;
    color: #444;
}

.previous {
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 24px;
    font-weight: 900;
    color: #FA5423;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 600;
}

.link {
    outline: none;
    background: none;
    color: #FA5423;
    text-decoration-style: double;
    cursor: pointer;
}

.country {
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 20px;
    height: 80vh;

    & > .details {
        position: sticky;
        bottom: 0px;
        left: 40px;
        width: 100px;
    } 

    .cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
    }
}